# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*.so

# Django specific
db.sqlite3
*.log
/media/
/staticfiles/

# Environment variables
.env

# Node.js dependencies (for React)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
/build/
/dist/
*.lock

# VS Code & JetBrains IDEs
.vscode/
.idea/

# MacOS & Linux system files
.DS_Store
*.swp